.titles{
    margin: 10px;
}

.dishes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.carrousel{
    display: flex;
    overflow: auto;
    align-items: center;
    background: lightgray;
    overflow-y: hidden;
}

.item{
    display: flex;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.itemName{
    margin-top: 0.30rem;
}

.itemPrice{
    position: relative;
    right: 0;
    bottom: 2.6rem;
    left: 2.2rem;
}

.food{
    width: 100vw;
    height: 40vh;
}

.foodItem{
    margin-top: 2rem;
    height: 17rem;
}

.foodImg{
    width: 250px;
    height: 200px;
}

.foodName{
    font-size: 1.7rem;
}

.foodPrice{
    font-size: 1.3rem;
    bottom: 4rem;
    left: 5rem;
}

.beverage{
    width: 70vw;
    height: 22vh;
}

.bevItem{
    margin-top: 1.5rem;
    height: 8rem;
}

.bevPrice{
    left: 2.5rem;
}

.foodView{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.foodDesc{
    width: 90vw;
    text-align: justify;
}

.quantLbl{
    font-size: 1.3rem;
    margin-right: 0.3rem;
}
.quantInp{
    font-weight: bold;
    text-align: center;
    width: 3rem;
    padding: 0.4rem;
    appearance: none;
    border-radius: 1rem;
    border: 2px solid gray;
    background-color: lightgray;
}

.logInp{
    font-weight: bold;
    text-align: center;
    padding: 0.4rem;
    appearance: none;
    border-radius: 1rem;
    border: 2px solid gray;
    background-color: lightgray;
}

.logTitle{
    letter-spacing: 0.1rem;
}
.inpBtn{
    padding: 0.5rem;
    width: 8rem;
    appearance: none;
    border: 3px solid green;
    border-radius: 1rem;
    background-color: lightgreen;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 1px;
}